:root {
  /* Colors */
  /* Primary */
  --clr-primary: #dcc2a3;
  --clr-secondary: #a46d2a;
  --clr-text: #e9e8e7;
  --clr-background: #1a1511;
  --clr-accent: #ec8d18;
  /* Neutral */
  --clr-dark-slate-grey: hsl(234, 29%, 20%);
  --clr-charcoal-grey: hsl(235, 18%, 26%);
  --clr-grey: hsl(231, 7%, 60%);
  --clr-white: hsl(0, 0%, 100%);

  /* sizes */
  --size-xxs: 0.5rem;
  --size-xs: 0.75rem;
  --size-sm: 0.875rem;
  --size-base: 1rem;
  --size-lg: 1.125rem;
  --size-xl: 1.25rem;
  --size-2xl: 1.5rem;
  --size-3xl: 1.875rem;
  --size-4xl: 2.25rem;
  --size-5xl: 3rem;
  --size-6xl: 3.75rem;
  --size-7xl: 4.5rem;
  --size-8xl: 6rem;
  --size-9xl: 8rem;
  --size-10xl: 10rem;

  /* Font sizes */
  --fs-xxs: 0.5rem;
  --fs-xs: 0.75rem;
  --fs-sm: 0.875rem;
  --fs-base: 1rem;
  --fs-lg: 1.125rem;
  --fs-xl: 1.25rem;
  --fs-2xl: 1.5rem;
  --fs-3xl: 1.875rem;
  --fs-4xl: 2.25rem;
  --fs-5xl: 3rem;
  --fs-6xl: 3.75rem;
  --fs-7xl: 4.5rem;
  --fs-8xl: 6rem;
  --fs-9xl: 8rem;
  --fs-10xl: 10rem;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  line-height: calc(1em + 0.75rem);
  font-family: "Open Sans", sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  background-color: var(--clr-background);
  color: var(--clr-text);
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
  user-select: none;
}

button {
  display: inline-block;
  padding: 0;
  background: none;
  border: none;
  cursor: pointer;
  color: inherit;
}

ul,
ol {
  list-style: none;
}

a {
  display: inline-block;
  text-decoration: none;
  color: inherit;
}

label{
  font-size: var(--fs-xl);
  font-weight: bold;
  display: block;
}

section{
  border: 2px solid red;
}

/* HEADER */

.header__navbar{
  background-color: var(--clr-secondary);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  text-align: center;
  font-weight: bold;
  font-size: var(--fs-sm);
  color: var(--clr-primary);
  text-transform: uppercase;
  z-index: 1;
}

.header__link{
  padding: 1rem 0.5rem;
}

/* HERO */

.hero{
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero__content{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.hero__content-name{
  font-weight: bold;
  font-size: var(--fs-3xl);
  color: var(--clr-primary);
  text-decoration: underline;
  text-decoration-color: var(--clr-secondary);
  text-underline-offset: 10px;
  text-decoration-thickness: 2px;
}

.hero__content-title{
  font-size: var(--fs-lg);
  color: var(--clr-secondary);
  margin-bottom: 0.85rem;
}

.hero__content-btn{
  font-size: var(--fs-xs);
  padding: 0.25rem 0.75rem;
}

/* ABOUT */

.about__content{
  font-size: var(--fs-xs);
}

.about__content-title{
  color: var(--clr-primary);
  text-transform: uppercase;
  text-align: center;
  font-size: var(--fs-2xl);
  margin-bottom: 2rem;
}

.about__informations-title{
  color: var(--clr-secondary);
  font-size: var(--fs-lg);
  text-align: center;
  
}

.about__content-informations{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.about__informations-description{
  max-width: 70%;
  margin-bottom: 10px;
  text-align: center;
}

.about__informations-btn{
  padding: 0.25rem 0.5rem;
}

.about__content-skills{
  margin-top: 3rem;
}

.about__skills-title{
  text-align: center;
  color: var(--clr-secondary);
  font-size: var(--fs-lg);
}

.about__skills-skills{
  margin-top: 10px;
  margin-inline: auto;
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  justify-content: center;
}

.skills__skill{
  background-color: var(--clr-accent);
  padding: 0.25rem 1rem;
  border-radius: 5px;
  font-weight: bold;
  transition: all .3s;
  cursor:default;
}

.about__content-title::after,
.projects__content-title::after,
.contact__content-title::after {
  content: "";
  position: absolute;
  height: 5px;
  width: 3rem;
  background: var(--clr-accent);
  left: 50%;
  transform: translateX(-50%);
  border-radius: 5px;
}

.about__content-title::after{
  top: calc(100% + 7.5rem);
}

.hidden{
  opacity: 0;
  transition: all 2s;
}

.show{
  opacity: 1;
}