/* xs */
/* @media (min-width: 475px) {} */

/* sm */
/* @media (min-width: 640px) {} */

/* md */
/* @media (min-width: 768px) {} */

/* lg */
/* @media (min-width: 1024px) {} */

/* xl */
/* @media (min-width: 1280px) {} */

/* 2xl */
/* @media (min-width: 1536px) {} */

.btn {
  background-color: var(--clr-accent);
  border-radius: 5px;
  text-transform: uppercase;
  font-weight: bold;
  cursor: pointer;
  font-family: inherit;
  text-decoration: none;
  transition: 0.3s;
}

.text-accent {
  color: var(--clr-accent);
  text-decoration: underline var(--clr-accent);
  text-decoration-thickness: 2px;
  text-underline-offset: 5px;
  font-weight: bold;
}

.btn:hover,
.skills__skill:hover {
  transform: scale(1.1);
  box-shadow: 0px 0px 73px 0px var(--clr-accent);
}

.contact__btn:hover{
  transform: scale(1.05);
}

.container {
  width: 90%;
  margin-inline: auto;
  padding: 0;
  margin-bottom: 5rem;
}

.contact {
  margin-bottom: 0;
}

.header {
  margin-bottom: 0;
}

/* xs */
@media (min-width: 475px) {
  .container {
    max-width: 475px;
  }
}

/* sm */
@media (min-width: 640px) {
  .container {
    max-width: 640px;
  }

  /* HEADER */
  .header__navbar {
    font-size: var(--fs-base);
  }

  .header__link {
    padding: 1rem 0.75rem;
  }

  /* HERO */
  .hero__content-name {
    font-size: var(--fs-4xl);
  }

  .hero__content-title {
    font-size: var(--fs-xl);
  }

  .hero__content-btn {
    font-size: var(--fs-sm);
  }

  /* ABOUT */

  .about__content {
    font-size: var(--fs-sm);
  }

  .about__content-title {
    font-size: var(--fs-3xl);
  }

  .about__informations-title {
    font-size: var(--fs-xl);
  }

  .about__skills-title {
    font-size: var(--fs-xl);
  }
  .about__skills-skills {
    gap: 0.75rem;
    max-width: 70%;
  }

  /* PROJECTS */

  .projects__content {
    font-size: var(--fs-sm);
  }

  .projects__content-title {
    font-size: var(--fs-3xl);
  }

  .projects__content-description {
    font-size: var(--fs-xl);
  }

  .projects__row-title {
    font-size: var(--fs-lg);
  }

  /* CONTACT */

  .contact__content {
    font-size: var(--fs-sm);
  }

  .contact__content-title {
    font-size: var(--fs-3xl);
  }

  .contact__form-label {
    font-size: var(--fs-xl);
  }
}
/* md */
@media (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

/* lg */
@media (min-width: 1024px) {
  .container {
    max-width: 1024px;
  }

  /* HEADER */
  .header__navbar {
    font-size: var(--fs-lg);
  }

  .header__link {
    padding: 1rem;
    border: 3px solid transparent;
    border-bottom: 3px solid var(--clr-primary);
    transition: all 0.5s ease;
  }

  .header__link:hover {
    border-top: 3px solid var(--clr-accent);
    border-left: 3px solid var(--clr-accent);
    border-right: 3px solid var(--clr-accent);
    border-bottom: 3px solid transparent;
    color: var(--clr-accent);
  }

  /* HERO */
  .hero__content-name {
    font-size: var(--fs-5xl);
  }

  .hero__content-title {
    font-size: var(--fs-2xl);
  }

  .hero__content-btn {
    font-size: var(--fs-base);
    padding: 0.5rem 1rem;
  }

  .waves {
    height: 300px;
  }

  /* ABOUT */
  .about__content {
    font-size: var(--fs-base);
  }
  .about__content-title {
    font-size: var(--fs-4xl);
  }

  .about__informations-title,
  .about__skills-title {
    font-size: var(--fs-2xl);
  }

  .about__informations-btn {
    padding: 0.5rem 1rem;
  }

  /* PROJECTS */

  .projects__content {
    font-size: var(--fs-base);
  }

  .projects__content-title {
    font-size: var(--fs-4xl);
  }

  .projects__content-description {
    font-size: var(--fs-2xl);
  }

  .projects__row-title {
    font-size: var(--fs-xl);
  }

  /* CONTACT */

 
  .contact__content{
    width: 100%;
  }

  .contact__form-container{
    max-width: 50%;
    margin-inline: auto;
    padding: 2rem;
  }

  .contact__content {
    font-size: var(--fs-base);
  }

  .contact__content-title {
    font-size: var(--fs-4xl);
  }

  .contact__form-label {
    font-size: var(--fs-2xl);
  }

  .contact__form-field{
    margin-bottom: 2rem;
  }
}

/* xl */
@media (min-width: 1280px) {
  .container {
    max-width: 1280px;
  }

  /* PROJECTS */

  .projects__list-row {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .projects__row-img {
    max-width: 60%;
  }

  .projects__row-description {
    max-width: 70%;
    margin-inline: auto;
  }

  .projects__row-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
  }
}

/* 2xl */
@media (min-width: 1536px) {
  .container {
    max-width: 1536px;
  }

  /* HEADER */
  .header__navbar {
    font-size: var(--fs-xl);
  }

  .header__link {
    padding: 1rem 1.25rem;
  }

  /* HERO */
  .hero__content-name {
    font-size: var(--fs-7xl);
  }

  .hero__content-title {
    font-size: var(--fs-4xl);
  }

  .hero__content-btn {
    font-size: var(--fs-xl);
  }

  .waves {
    height: 400px;
  }

  /* ABOUT */

  .about__content {
    font-size: var(--fs-lg);
  }

  .about__content-title {
    font-size: var(--fs-5xl);
  }

  .about__informations-title,
  .about__skills-title {
    font-size: var(--fs-3xl);
  }

  /* PROJECTS */

  .projects__content {
    font-size: var(--fs-lg);
  }

  .projects__content-title {
    font-size: var(--fs-5xl);
  }

  .projects__content-description {
    font-size: var(--fs-3xl);
  }

  .projects__row-title {
    font-size: var(--fs-2xl);
  }

  /* CONTACT */

  .contact__form-container{
    max-width: 40%;
    margin-inline: auto;
    padding: 2rem;
  }

  .contact__content {
    font-size: var(--fs-lg);
  }

  .contact__content-title {
    font-size: var(--fs-5xl);
  }

  .contact__form-label {
    font-size: var(--fs-3xl);
  }

  .contact__form-input{
    padding: 1rem;
  }
  .contact__form-field{
    margin-bottom: 2rem;
  }

  .contact__btn{
    font-size: var(--fs-xl);
    padding: 1rem 0;
  }
}
